**~
**#*
**.pyc
**.orig
**.rej
dist
build/bdist
tools/cpep8.venv/
tests/logs/
logs/
ignored/
patch_queue/
archived_builds/
.tox/
**.mo
**.pot
locale/.files
MANIFEST
.pytest_cache
**.egg-info**
.eggs
unit_report.html
driver_report.html
model_support.html
assets
/*.img
*.patch
# for visual studio and visual studio code editors
.vs/
.vscode/
/CppProperties.json
.coverage
chirpwx.spec
chirp/locale/.files
