[Desktop Entry]
Version=0.1
Encoding=UTF-8
Type=Application
Exec=chirpw
Icon=chirp.png
StartupNotify=true
Terminal=false
Categories=Application;HamRadio
MimeType=inode/directory
Name=CHIRP
Comment=CHIRP Radio Programming Tool
GenericName=CHIRP Radio Programming Tool
